@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

*{
  font-family: Montserrat;
}
/*Chat.elm */


/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

.l_msg_margin {
  width: 50%;
}

.r_msg_margin {
  margin-left: 100px;
  margin-right: 5px;
}


/* Style time text */

.time-right {
    float: right;
    font-size: 0.8em;
}

.text-right {
    text-align: right;
    color: white;

}

/* ---------------------------------------------------------- */
.chat_conv{
  height: 95vh;
    background-color: #DFE4F7;
}

.chat_tabs {
  height : 40px;
}

.chat_field_and_buttons{
  height : 50px;
}

.chat_buttons{
  height:36px;
}

.chat_panel{
  height : calc(95vh - 90px);
  background-color: #DFE4F7;
}


.discussion_field_and_buttons{
  height : 60px;
  background-color: #F6F8FF;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
  justify-content: center;
}

.buttons{
  height:36px;
  width: 55px;
}

.img_lock{
  width: 25px;
  height: 100%;
}

.input_chat{
  font-family: 'Montserrat';
  border:none;
  background: #ccc;
}
/* backgroung-color: white; après déblocage */

.tabs-main {
 background-color: rgba(119, 201, 210, 1);
}

/* #tabsection {
 display: none;
 padding: 20px 0 0;
 border-top: 1px solid #ddd;
} */

input {
  display:none;
}

label {
  display: inline-block;
  margin: 0 0 0px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: black;
}

.tab {

  cursor: pointer;
  position: relative;
  padding-right: 1.5em;
  padding-bottom: 5px;
}

.tab.active {
  font-weight: 600;
  border-bottom: 2px solid #0099FF;
}

.msg_user{
   background-color: rgba(193, 205, 212, 1);
   color : black;
}


.cross {
  max-height: 12px;
  cursor:pointer;
  position: absolute;
  right: 0;
  pointer-events: stop-propagation;
}


/* ---- SCROOL BAR ----- */


.style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #55BCC9;
}


/* Header.elm */

.header_header{
  height: 5vh;
}

.header_float_r{
  right:0;
  height: 5%;
  width: 130px;
 font-weight: bold;
 justify-content: center;
 color :#04859D;
}

.header_float_l{
  left:0;
}

.img_logo{
  height :5vh;
  width: 160px;
}



/* ListConversation.elm */

.listconv_list {
  height: 60vh;
}

.listconv_whitespace {
  height: 90px;

}

.listconv_listHeight {
  height:  calc(60vh - 90px);
  margin:0;
  background-color: rgba(155, 184, 211, 0.3);
}

ul li.list-style{
   background-color: rgba(119, 201, 210, 0.5);
}

.push_btn_active, .suspended_btn_active , .all_btn_active{
background-color: #036F73;
}


.all_btn, .push_btn, .suspended_btn{
    background-color: #008F95;
    position:relative;
   display:block;
   -webkit-transition: all 0.1s;
   -moz-transition: all 0.1s;
   transition: all 0.1s;
}

.conversation{
margin-left: 35%;
}

.user_name  {
  width: 15%;
}


.date{
    width: 30%;
}
/*STATUS FROM 1 TO 3 */
.lb{
  background-color: rgba(9, 200, 168, 1);
  color: rgba(162,220, 0, 1);
  float: left;
  width: 10px;

}

/*STATUS FROM 4 TO 6 */
.lp{
  background-color: #EAB126;
  color: rgba(229,127, 84, 1);
  float: left;
  width: 10px;

}
/*STATUS FROM 7 TO 9 */
.lr{
  background-color: #F24C4E;
  color:red;
  float: left;
  width: 10px;

}
.none{}


.img_bot{
    width: 30px;
    height: 40px;
  }

/* Main.elm */

.main_leftPanel {
  height:95vh;

}

/* Statistics Classes */

.statistics_stats{
  height:35vh;
  background-color: #04859D;
}
