


.header{
  height: 5%;
}

.stat{
  height:45%;
}

.leftPanel{
  height: 95%;
}
.list{
  height: 60%;
}

.conv{
  min-height: 95%;
}

.listHeight{
height : 300px;
}

.center{
  text-align: center;
}
.float_r{
  right:0;
}

.float_l{
  left:0;
}
