


.header{
  height: 5vh;
}

.stat{
  height:35vh;
}

.leftPanel{
  height: 95vh;
}
.list{
  height: 60vh;
}

.conv{
  height: 95vh;
}
.discussion_field_and_buttons{
  height : 60px;
}

.buttons{
  height:36px;
  width: 55px;
}

.img_lock{
  width: 40px;
  height: 100%;
}

.discussion_panel{
  height : calc(95vh - 100px);
}

.discussion_tabs {
  height : 40px;
}


.listHeight{
height : calc(60vh - 90px);
margin:0;

}

.white_space{
  height : 90px;
}


.center{
  text-align: center;
}
.float_r{
  right:0;
  height: 5%;
}

.float_l{
  left:0;
}
.push_btn{
        position:relative;
       display:block;
       -webkit-transition: all 0.1s;
       -moz-transition: all 0.1s;
       transition: all 0.1s;
       -webkit-box-shadow: 0px 4px 0px black;
       -moz-box-shadow: 0px 4px 0px black;
       box-shadow: 0px 4px 0px black;
}

.push_btn:active{
    -webkit-box-shadow: 0px 1px 0px black;
    -moz-box-shadow: 0px 1px 0px black;
    box-shadow: 0px 1px 0px black;
    position:relative;
    top:7px;
}

/* Below, copied code from https://codepen.io/ddools/pen/gwzJAg */
#tabs-main {
   min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background-color: blue;
}

#tabsection {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #555;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border-bottom: 2px solid orange;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 10px;
  }
}

/* Above, copied code from https://codepen.io/ddools/pen/gwzJAg */
