


.header{
  height: 5%;
}

.stat{
  height:45%;
}

.leftPanel{
  height: 95%;
}
.list{
  height: 60%;
}

.conv{
  min-height: 95%;
}

.listHeight{
height : 250px;
margin:0;

}

.center{
  text-align: center;
}
.float_r{
  right:0;
  height: 5%;
}

.float_l{
  left:0;
}
.push_btn{
        position:relative;
       display:block;
       text-decoration:none;
       border:solid 1px #D94E3B;
       background:#cb3b27;
       -webkit-transition: all 0.1s;
       -moz-transition: all 0.1s;
       transition: all 0.1s;
       -webkit-box-shadow: 0px 9px 0px #84261a;
       -moz-box-shadow: 0px 9px 0px #84261a;
       box-shadow: 0px 9px 0px #84261a;
}

.push_btn:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}
