@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

*{
  font-family: Montserrat;
}
/*Chat.elm */

/* Chat containers */
.container {
    /* border: 2px solid #dedede; */
    /*background-color: #f1f1f1;*/
    /* border-radius: 5px; */
    padding: 10px;
    margin: 10px 0;

}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

.l_msg_margin {
  margin-left: 5px;
  margin-right:100px;
}

.r_msg_margin {
  margin-left: 100px;
  margin-right: 5px;
}


/* Style time text */
.time-right {
    float: right;
}

/* Style time text */
.time-left {
    float: left;
}
.text-right {
    text-align: right;
}












/* ---------------------------------------------------------- */
.chat_conv{
  height: 95vh;
}

.chat_tabs {
  height : 40px;
}

.chat_field_and_buttons{
  height : 50px;
}

.chat_buttons{
  height:36px;
}

.chat_panel{
  height : calc(95vh - 90px);
  background-color: rgba(155, 184, 211, 0.3);
}




.discussion_field_and_buttons{
  height : 60px;
  background-color: rgba(0,58,112,0.6);
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
  justify-content: center;
}

.buttons{
  height:36px;
  width: 55px;
}

.img_lock{
  width: 40px;
  height: 100%;
}

.input_chat{
  font-family: 'Montserrat';
}

.tabs-main {
 background-color: rgba(119, 201, 210, 1);
}

/* #tabsection {
 display: none;
 padding: 20px 0 0;
 border-top: 1px solid #ddd;
} */

input {
  display:none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: black;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border-bottom: 2px solid #0099FF;
}

/* Header.elm */

.header_header{
  height: 5vh;
}

.header_float_r{
  right:0;
  height: 5%;
  width: 130px;
 font-weight: bold;
 justify-content: center;

}

.header_float_l{
  left:0;

}

/* ListConversation.elm */

.listconv_list {
  height: 60vh;




}

.listconv_whitespace {
  height: 90px;

}

.listconv_listHeight {
  height:  calc(60vh - 90px);
  margin:0;
  background-color: rgba(155, 184, 211, 0.3);
}

ul li{
   background-color: rgba(119, 201, 210, 0.5);
}

.push_btn:active , .suspended_btn:active, .all_btn:active {
    position:relative;
    background-color: #205A61;
}
.all_btn, .push_btn, .suspended_btn{
    background-color: rgba(47, 174, 188, 1);
    position:relative;
   display:block;
   -webkit-transition: all 0.1s;
   -moz-transition: all 0.1s;
   transition: all 0.1s;

}

.conversation{

margin-left: 35%;

}
/*STATUS FROM 1 TO 3 */
.lb{
  background-color: rgba(162,220, 0, 1);
  color: rgba(162,220, 0, 1);
  float: left;
  width: 20px;

}

/*STATUS FROM 4 TO 6 */
.lp{
  background-color: rgba(229,127, 84, 1);
  color: rgba(229,127, 84, 1);
  float: left;
  width: 20px;

}
/*STATUS FROM 7 TO 9 */
.lr{
  background-color: red;
  color:red;
  float: left;
  width: 20px;

}
.none{}


/* Main.elm */

.main_leftPanel {
  height:95vh;

}

/* Statistics Classes */

.statistics_stats{
  height:35vh;
  background-color: rgba(0, 58, 112, 0.8);
}
